# Frontend URL (User Page)
NEXT_PUBLIC_URL="http://localhost:8080"

# Frontend URL (Admin Page)
NEXT_PUBLIC_ADMIN_URL="http://localhost:8080/admin"

# Backend Base API URL (For general/direct API calls)
NEXT_PUBLIC_BASE_URL="http://localhost:3000"

# Backend Base API URL (For RTK Query base URL)
NEXT_PUBLIC_BASE_URLS="http://localhost:3000"

# LocalStorage / Cookie Key names
NEXT_PUBLIC_ACCESS_TOKEN="portfolio_access_token"
NEXT_PUBLIC_USER_INFOR="portfolio_user_info"
